.simple_form {
  width: 55%;
  border:40px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  color: #ffb934;
  font-weight: bold;
}


.display-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;

  label{
    margin-bottom: 0;
  }
}
