// Import page-specific CSS files here.
@import "home";
@import "form";

.card-trip-infos {
  h2  {
    color: #ffb934;
  }
}

.title{
  font-family: 'Pacifico', cursive;
  text-align: center;
  text-decoration: underline;
}

.scrollable {
	height: 900px;
	overflow: scroll;
}